---
const { link, img, image, price } = Astro.props;
---

<div>
  <div class="img_hover">
    <div class="top">
      <a href={link}><img class="image_top" src={img} alt="Produkt" /></a>
    </div>
    <div class="bottom">
      <img src={image} alt="produktbillede" />
    </div>
  </div>

  <style>
    .top {
      grid-column: 1;
      grid-row: 1;
    }
    .bottom {
      grid-column: 1;
      grid-row: 1;
      margin-bottom: 30px;
    }

    img {
      border-radius: 50%;
      border: solid 6px white;
    }

    p {
      color: black;
      text-align: center;
    }

    .img_hover {
      width: 100%;
      height: 100%;
      margin-top: 40px;
      position: relative;
    }

    .img_hover img {
      width: 100%;
      height: 100%;
    }

    .image_top {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      border-radius: 50%;
    }

    .image_top:hover {
      opacity: 1;
    }
  </style>
</div>
