---
import Drop_card from "./Drop_card.astro";
import Button from "../Button.astro";
const { title } = Astro.props;
---

<section class="drop_bg">
  <span><h2 class="overskrift">{title}</h2></span>
  <div class="grid_1-1-1">
    <div class="center image1">
      <Drop_card img="./img/blaaring.webp" image="./img/blaaring_forside.webp/" link="/webshop" />
      <h6>Blå ring med sten <br /> 149DKK</h6>
    </div>
    <div class="center">
      <Drop_card img="./img/skal_hvid.webp" image="./img/skal_hvid_forside.webp/" link="/webshop" />
      <h6>Halskæde med vedhæng <br /> 249DKK</h6>
    </div>
    <div class="center">
      <Drop_card img="./img/klemme_pastelgul.webp" image="./img/klemme_pastelgul_forside.webp/" link="/webshop" />
      <h6>Hårklemme gul <br /> 120DKK</h6>
    </div>
  </div>
  <div class="button">
    <Button title="GÅ TIL SHOPPEN" link="/webshop" />
  </div>
</section>

<style>
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image1 {
    grid-column: 1;
    grid-row: 1;
  }
  .drop_bg {
    background-color: var(--bg-pink);
    padding-bottom: 20%;
    padding-top: 3%;
  }

  .button {
    text-align: center;
    margin-top: 20px;
  }

  span {
    color: var(--brand-color-purple);
  }

  .sky_down {
    width: 104.5%;
    margin-top: -1rem;
    margin-inline: -1rem;
  }

  h6 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }

  @media (min-width: 800px) {
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--bg-pink);
    }

    .drop_bg {
      background-color: var(--bg-pink);
      padding-bottom: 5%;
    }

    .button {
      text-align: center;
      margin-top: 40px;
    }

    .center {
      width: 70%;
      margin: 30px;
    }
    .sky_down {
      width: 104.5%;
      margin-top: -5rem;
    }

    .overskrift {
      margin-top: 0;
    }
  }
</style>
