---
const { title, image2 } = Astro.props;
import Button from "../Button.astro";
---

<div class="container">
  <h2>{title}</h2>
  <div class="layout">
    <video autoplay loop controls src="/img/general/output.webm"></video>
  </div>
  <div class="vis">
    <Button title="LÆS MERE" link="/omos" />
  </div>
</div>
<img class="sky_down" src={image2} alt="sky ned" />

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    margin-top: -20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    overflow: hidden;
  }
  h2 {
    align-self: center;
    color: white;
    margin-bottom: 2rem;
  }
  .layout {
    overflow: hidden;
    grid-column: 1;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: contrast(2px);
  }

  .vis {
    z-index: 5;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .sky_down {
    width: 100%;
    margin-top: -10px;
  }

  video {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  @media (min-width: 800px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--bg);
      margin-top: -60px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.5fr;
    }

    .sky_down {
      width: 116%;
      margin-inline: -1rem;
      margin-top: -55px;
      transform: translateX(-5%);
    }

    .layout {
      overflow: hidden;
      grid-column: 1;
      grid-row: 1/3;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .vis {
      z-index: 5;
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    video {
      width: 200%;
      height: 500px;
      object-fit: cover;
    }
  }
</style>
