---
const { title, image1, image2 } = Astro.props;
import Button from "../Button.astro";
---

<div>
  <img class="sky_up" src={image1} alt="" />
</div>
<div class="container">
  <h2>{title}</h2>
  <div class="layout">
    <video autoplay muted loop src="/img/general/thrift_planet_video.mp4"></video>
  </div>
  <div class="vis">
    <Button title="LÆS MERE" />
  </div>
</div>
<img class="sky_down" src={image2} alt="" />

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    margin-top: -20px;
  }
  h2 {
    align-self: center;
    color: white;
    margin-bottom: 2rem;
  }
  .sky_up {
    width: 100%;
    margin-top: -40px;
  }
  .sky_down {
    width: 100%;
    margin-top: -12px;
  }

  @media (min-width: 800px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--bg);
      margin-top: -60px;
    }
    .sky_up {
      width: 116%;
      margin-inline: -1rem;
      margin-top: -129px;
      transform: translateX(-5%);
      overflow: hidden;
    }

    .sky_down {
      width: 116%;
      margin-inline: -1rem;
      margin-top: -55px;
      transform: translateX(-5%);
    }

    .layout {
      height: 100vh;
      overflow: hidden;
    }

    .vis {
      z-index: 5;
    }
  }
</style>
