---
import MainLayout from "../../layouts/MainLayout.astro";
import Banner from "../../components/webshop/Banner.astro";
import ProductCardCategory from "../../components/webshop/ProductCardCategory.astro";
import MenuBackgr from "../../components/MenuBackgr.astro";
import Footer from "../../components/Footer.astro";
const url = "https://xajsthxggqgaudpivnrd.supabase.co/rest/v1/thrift_planet?category=eq.halskaeder";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhanN0aHhnZ3FnYXVkcGl2bnJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ4NzE1MDgsImV4cCI6MjAwMDQ0NzUwOH0.HQ2wFMdKd1M2pYndgzr5dgo2DM4qSQgYHbFZwmQeb9k",
  },
};
const response = await fetch(url, options);
const data = await response.json();
console.log(data);
---

<MainLayout>
  <Banner />
  <div class="menu">
    <MenuBackgr />
  </div>
  <div class="all_products">
    <h2>HALSKÆDER</h2>
    <div class="products">
      {data.map((product) => <ProductCardCategory image1={`/img/${product.image1}`} name={product.name} description={product.description} price={product.price + " DKK"} slug={product.slug} />)}
    </div>
  </div>
  <div class="footer">
    <Footer />
  </div>
</MainLayout>

<style>
  h2 {
    padding: 2rem;
    color: var(--brand-color-purple);
  }
  .menu {
    margin-top: 2rem;
  }
  @media (min-width: 800px) {
    .all_products {
      margin-inline: 4rem;
    }
    .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
