---
import Indehaver_card from "./Indehaver_card.astro";
---

<div class="grid_1_3_1">
  <div class="mette">
    <Indehaver_card image="/omos/mette.webp" title="METTE" />
  </div>
  <div class="tekst1">
    <h4>Hej mit navn er Mette og jeg er den ene indehaver af butikken Thrift pLanet</h4>
    <p>"Vi bestræber os på at have mange forskellige størrelser i butikken, men da alt er vintage og secondhand kan det selvfølgelig variere. Størrelserne strækker sig fra 34 – 42. Vi har også et mindre udvalg af str. 44 – 50. Fik vi nævnt, at der kommer nye varer ud i butikken hver eneste uge?"</p>
    <p class="del1">"Besøg vores moderne vintage shop i Studiestræde 24! Kom og bliv inspireret i et sjovt og overskueligt space. Vælg mellem de fedeste vintage og second hand styles fra Berlin."</p>
  </div>
  <div class="ann_sofie">
    <Indehaver_card image="/omos/Ann_Sofie.webp" title="ANN-SOFIE" />
  </div>
  <div class="tekst2">
    <h4>Mit navn er Ann-Sofie og jeg er den anden indehaver af butikken Thriftt Planet</h4>
    <p>"Ud over tøj kan du finde et ret skønt udvalg af nye accessories i butikken. Vi snakker hårspænder i alle farver og størrelser samt fine smykker. Vi har også vores egen lille smykkekollektion, som består af smykker med glasperler formet som frugt, grønt og blomster. Vi udskifter løbende vores udvalg, men du kan se et uddrag under fanen “universet”. Vi ses i Studiestræde 24 !!!"</p>
    <p class="del1">"Husk at følg med på vores instagram @thriftplanet hvvor vi løbende informere om nye varer, konkurrencer og meget mere..."</p>
  </div>
</div>

<style>
  .grid_1_3_1 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
  }

  .mette {
    grid-column: 2;
    grid-row: 1;
    color: #a75df2;
  }

  .tekst1 {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 2rem;
  }

  .ann_sofie {
    grid-column: 2;
    grid-row: 3;
    color: #a75df2;
  }

  .tekst2 {
    grid-column: 2;
    grid-row: 4;
    margin-bottom: 2rem;
  }

  p {
    font-style: italic;
  }

  h4 {
    font-size: 1rem;
    color: var(--brand-color-purple);
    margin-bottom: 20px;
  }

  .del1 {
    margin-top: 20px;
  }

  @media (min-width: 800px) {
    .grid_1_3_1 {
      display: grid;
      grid-template-columns: 0.25fr 1fr 1fr 1fr 0.25fr;
      grid-template-rows: 1fr 1fr;
    }

    .mette {
      grid-column: 2;
      grid-row: 1;
      margin-top: 40px;
    }

    .tekst1 {
      grid-column: 3/5;
      grid-row: 1;
      margin-left: 8rem;
      margin-right: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .del1 {
      margin-top: 20px;
    }

    .ann_sofie {
      grid-column: 4;
      grid-row: 2;
      margin-top: -30px;
    }

    .tekst2 {
      grid-column: 2/4;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 8rem;
      margin-left: 4rem;
    }

    p {
      font-style: italic;
    }

    h4 {
      text-align: left;
      color: var(--brand-color-purple);
      margin-bottom: 20px;
      font-size: 2rem;
    }
  }
</style>
