---
const { title, image1, image2 } = Astro.props;
---

<div class="grid_1">
  <div class="tekst_planet">
    <h2>{title}</h2>
    <p>I butikken Thrift Planet sælger vi secondhand og vintage tøj fra Berlin & Italien, som vi har udvalgt helt specielt til jer. Alt tøjet er udvalgt af os efter trends, farver, kvalitet og selvfølgelig også bare efter over all niceness. Vi har en forkærlighed for 90’er og 00’er mode, og så elsker vi second hand basic styles i god kvalitet.</p>
    <p>Ideen bag Thrift Planet er at skabe en cute vintage shop, som skal være overskuelig og tilbyde secondhand og vintage tøj, der matcher tidens ånd og trends. Vi ønsker at give vores kunder en lækker butiksoplevelse. At gøre det nemt at finde secondhand eller vintage, der passer ind i en moderne garderobe. Butikken skal være en dynamisk vintage shop med flow i tøj og udvalg – hvor man som kunde altid kan finde noget nyt og overraskende.</p>
    <h4>NEWS EVERY WEEK!</h4>
    <p>Du kan finde nye styles på stativerne hver uge!</p>
  </div>
  <div class="planet">
    <img src="/omos/velkommen_planet-2.webp" alt="velkommen" />
  </div>
</div>

<img class="sky_down" src={image2} alt="sky ned" />

<style>
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 0.5fr 3fr 1fr;
    background-color: var(--bg);
  }

  .planet {
    margin: 20px;
  }
  h2 {
    color: white;
    margin-bottom: 2rem;
  }
  h4 {
    text-align: center;
    color: var(--brand-color-purple);
    margin-top: 2rem;
  }
  p {
    text-align: center;
    margin: 20px;
  }

  .sky_down {
    width: 109.5%;
    margin-top: -1rem;
    margin-inline: -1rem;
  }

  @media (min-width: 800px) {
    .grid_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: 0.5fr 2fr 0.5fr;
      background-color: var(--bg);
    }

    .tekst_planet {
      grid-column: 2;
      grid-row: 2;
      margin-inline: 3rem;
      padding-right: 2rem;
    }

    .planet {
      grid-column: 1;
      grid-row: 2;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      margin-left: 10%;
      z-index: 1;
    }

    .planet img {
      width: 90%;
    }

    p {
      margin-top: 20px;
    }

    .sky_down {
      width: 106.5%;
      margin-top: -5rem;
      transform: translateX(-3%);
      margin-left: 4px;
    }
  }
</style>
