---
---

<div class="grid_1">
  <h2>TIDSLINJE FOR BUTIKKEN</h2>
  <div class="baggrund"><slot /></div>
  <div class="tidslinje">
    <img src="/omos/tidslinje2.svg" alt="tidslinje" />
  </div>
</div>

<style>
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .tidslinje {
    grid-column: 1;
    grid-row: 1;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 40px;
    padding-bottom: 20px;
    z-index: 1;
  }

  .tidslinje img.center {
    display: block;
    margin: 0 auto; /* Center horizontally */
    max-width: 100%;
    max-height: 100%;
  }

  .baggrund {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 150%;
  }
  h2 {
    grid-column: 1;
    grid-row: 1;
    color: white;
    margin-top: 20px;
    z-index: 1;
  }
  @media (min-width: 800px) {
    .grid_1 {
      display: grid;
      grid-template-columns: 0.2fr 1fr 0.2fr;
      grid-template-rows: 0.1fr 1fr 0.1fr;
      margin-bottom: 55px;
    }
    .tidslinje {
      grid-column: 2;
      grid-row: 2;
      width: 100%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .tidslinje img {
      width: 70%;
    }

    .baggrund {
      width: 100%;
      grid-column: 1/4;
      grid-row: 1/4;
      z-index: -1;
    }

    h2 {
      grid-column: 2;
      grid-row: 1;
      color: white;
      margin-top: 100px;
    }
  }
</style>
