---
const { title, image2 } = Astro.props;
---

<div class="grid_1">
  <div class="adresse">
    <h2>{title}</h2>
    <h5>
      STUDIESTRÆDE 24, KL. TH <br />
      1455 KØBENHAVN K <br />
    </h5>
    <h5>
      MAN - FRE 12-18 <br />
      LØR 12-17 <br />
      THRIFTPLANET@HOTMAIL.COM
    </h5>
  </div>

  <div class="skilt">
    <img src="/kontakt/kontakt333.webp" alt="skilt" />
  </div>
</div>

<img class="sky_down" src={image2} alt="sky ned" />

<style>
  .grid_1 {
    background-color: var(--bg);
  }

  h2 {
    color: white;
    background-color: var(--bg);
    margin-top: 0;
    margin-bottom: 2rem;
  }

  h5 {
    text-align: center;
    margin-bottom: 2rem;
  }

  @media (min-width: 800px) {
    .grid_1 {
      display: grid;
      grid-template-columns: 0.1fr 1fr 1fr;
      grid-template-rows: 2fr;
      background-color: var(--bg);
    }

    .adresse {
      grid-column: 3;
      grid-row: 1;
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .skilt {
      grid-column: 2;
      grid-row: 1;
      justify-content: center;
      align-items: center;
    }

    h5 {
      margin-top: 3rem;
      font-size: 2rem;
    }
  }
</style>
