---
import Info_cards from "../kontakt/Info_cards.astro";
---

<h2>INFORMATION</h2>
<div class="grid_1_1">
  <div class="kontakt1"><Info_cards title="FORSENDELSE" image="/kontakt/kontakt333.webp" /></div>
  <div class="kontakt2"><Info_cards title="RETURPOLITIK" image="/kontakt/kontakt222.webp" /></div>
  <div class="kontakt3"><Info_cards title="SMYKKEPLEJE" image="/kontakt/kontakt111.webp" /></div>
  <div class="kontakt4"><Info_cards title="GAVEKORT" image="/kontakt/kontakt44.webp" /></div>
</div>
<style>
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: white;
    margin-right: 3rem;
    margin-left: 3.8rem;
    gap: 10px;
  }

  .kontakt1 {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
  }

  .kontakt2 {
    grid-column: 2;
    grid-row: 1;
  }
  .kontakt3 {
    grid-column: 1;
    grid-row: 2;
  }
  h2 {
    color: var(--brand-color-purple);
    margin-block: 1rem;
  }
  .kontakt4 {
    grid-column: 2;
    grid-row: 2;
  }

  @media (min-width: 800px) {
    .grid_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      color: white;
      gap: 10px;
    }

    .kontakt1 {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .kontakt2 {
      grid-column: 2;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .kontakt3 {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .kontakt4 {
      grid-column: 2;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    h2 {
      margin: 3rem;
    }
  }
</style>
