---
const { title, img, link } = Astro.props;
---

<div>
  <a href={link}><img class="kontakt" src={img} alt="kontakt" /><h2>{title}</h2></a>
</div>

<style>
  img {
    border: solid 6px white;
  }
</style>
