* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
body {
  background-color: var(--bg-pink);
}
main {
  overflow: hidden;
}
:root {
  --bg: #dac5f2;
  --bg-pink: #f9eaed;
  --brand-color-purple: #a75df2;
  --brand-color-green: #00df00;
  --prod-text: #7c7c7c;
}
h1 {
  font-family: "Alata", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  color: white;
  font-weight: 200;
}
h2 {
  font-family: "Alata", sans-serif;
  font-size: 2rem;
  text-align: center;
}
h3 {
  font-family: "Alata", sans-serif;
  font-size: 2rem;
  color: black;
  margin-top: 1rem;
}

h4 {
  font-family: "Alata", sans-serif;
  font-size: 2rem;
  color: black;
}
h5 {
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  color: var(--prod-text);
}
a {
  font-family: "Alata", sans-serif;
}

p {
  font-family: "Dosis", sans-serif;
}
@media (min-width: 800px) {
  h2 {
    font-size: 2.6rem;
    margin-top: 2rem;
  }
  h1 {
    font-size: 8rem;
  }
}
