---
import MainLayout from "../layouts/MainLayout.astro";
import Drop_component from "../components/landingpage/Drop_component.astro";
import Header from "../components/Header.astro";
import Video_component from "../components/landingpage/Video_component.astro";
import News from "../components/landingpage/News.astro";
import Instagram from "../components/landingpage/Instagram.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="Thrift planet">
  <Header image="/header/purple_header_banner.svg" animation="/img/general/animation.svg">
    <img class="desktop" src="/img/general/bg_gradientcloud.svg" alt="desktop baggrund" />
    <img class="mobil" src="/img/general/bg_mobil.svg" alt="mobil baggrund" />
  </Header>
  <main>
    <Video_component image2="/img/general/bannerdown.svg" />
    <Drop_component title="NYESTE DROP I SHOPPEN" />
    <News>
      <img class="bg_image" src="/img/general/gradient_background.svg" alt="nyhedsbrev baggrund" />
    </News>
    <Instagram />
  </main>
  <div class="footer">
    <Footer image3="/img/general/bannerup.svg" />
  </div>
</MainLayout>
<script src="../scripts/login.js"></script>
<style>
  .desktop {
    display: none;
  }

  .mobil {
    display: block;
  }

  .bg_image {
    filter: blur(5px);
  }

  @media (min-width: 800px) {
    .desktop {
      display: block;
    }
    .mobil {
      display: none;
    }
  }
</style>
