---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Drop_component from "../components/landingpage/Drop_component.astro";
import Header from "../components/Header.astro";
import Video_component from "../components/landingpage/Video_component.astro";
---

<MainLayout title="Thrift planet">
  <Header image="/header/purple_header_banner.png" animation="/img/general/animation.svg" />
  <Video_component image1="/img/general/banner2.svg" image2="/img/general/bannerdown.svg" />
  <Drop_component title="NYESTE DROP I SHOPPEN" />
  <Button title="LÆS MERE" link="/webshop" />
  <a href="/omos">Gå til om os</a>
  <a href="/kontakt">Gå til kontakt</a>
</MainLayout>
