---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Info_card from "../components/kontakt/Info_card.astro";
import Adresse from "../components/kontakt/Adresse.astro";
import Question from "../components/kontakt/Question.astro";
---

<MainLayout title="KONTAKT">
  <Header title="KONTAKT" animation="/img/general/animation.svg">
    <img class="desktop" src="./img/general/omos_header.png" alt="baggrund" />
    <img class="mobil" src="/img/general/bg_mobil.png" alt="baggrund" />
  </Header>
  <main>
    <Adresse title="BESØG OS NEDE I BUTIKKEN" image2="/img/general/bannerdown.svg" />
    <Info_card />
    <Question>
      <img class="blur" src="img/general/gradient_background.svg" alt="background" />
    </Question>
    <Footer image3="/img/general/banner2.svg" />
  </main>
</MainLayout>

<style>
  .desktop {
    display: none;
  }

  .mobil {
    display: block;
  }
  .blur {
    filter: blur(5px);
  }
  p {
    font-size: 51pt;
    color: white;
  }

  .desktop {
    display: none;
  }

  .mobil {
    display: block;
  }

  image2 {
    margin: 60px;
  }

  image3 {
    margin-bottom: 0;
  }
  @media (min-width: 800px) {
    .desktop {
      display: block;
    }
    .mobil {
      display: none;
    }
  }
</style>
