---
import MainLayout from "../layouts/MainLayout.astro";
import Indehaver_card from "../components/omos/Indehaver_card.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="OM OS">
  <Header image="/omos/mette.png" />
  <img src="/omos/velkommen_planet.png" alt="velkommen" />
  <article class="grid_3_2_3">
    <div class="mette">
      <Indehaver_card image="/omos/mette22.png" title="METTE" />
      <p>tekst om Mette</p>
    </div>
    <div class="ann_sofie">
      <Indehaver_card image="/omos/ann_sofie2.png" title="ANN-SOFIE" />
      <p>tekst om Ann-Sofie</p>
    </div>
    <img src="/omos/tidslinje.png" alt="tidslinje" />
  </article>
  <Footer />
</MainLayout>

<style>
  grid_3_2_3 {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-rows: 1fr (4);
  }

  .mette {
    grid-row: span 2;
  }
</style>
