---
import MainLayout from "../layouts/MainLayout.astro";
import Ejer_component from "../components/omos/Ejer_component.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Intro from "../components/omos/Intro.astro";
import Tidslinje from "../components/omos/Tidslinje.astro";
---

<MainLayout title="OM OS">
  <Header title="OM OS" animation="/img/general/animation.svg">
    <img class="desktop" src="/img/general/omos_desk_copy.webp" alt="baggrund" />
    <img class="mobil" src="/img/general/omos_copy.webp" alt="baggrund" />
  </Header>
  <main>
    <Intro title="VORES LILLE PLANET" image2="/img/general/bannerdown.svg" />
    <Ejer_component />
    <Tidslinje />
  </main>
  <div class="footer">
    <Footer image3="img/general/bannerup.svg" />
  </div>
</MainLayout>

<style>
  .mette {
    grid-row: span 2;
  }

  title {
    text-align: center;
  }

  .desktop {
    display: none;
  }

  .mobil {
    display: block;
  }

  .blur {
    filter: blur(5px);
  }
  .footer {
    margin-top: -6rem;
  }
  @media (min-width: 800px) {
    .desktop {
      display: block;
    }
    .mobil {
      display: none;
    }
    .footer {
      margin-top: -9rem;
    }
  }
</style>
