<article class="box">
  <ul>
    <li>THRIFTPLANETCPH@GMAIL.COM <br /> STUDIESTRÆDE 24, KL. TH.1455 KØBENHAVN K</li>
    <li>MAN-LØR 12-18</li>
    <li>KONTAKT & FAQ</li>
    <li>
      <img class="footer_icons" src="/img/general/thrift_footericons.png" alt="footer_icons" li />
    </li>
    <li class="copyright">© THRIFT PLANET</li>
  </ul>
</article>

<style>
  .box {
    display: block;
    background-color: #dac5f2;
    padding: 60px;
  }

  ul {
    text-align: center;
  }
  li {
    list-style: none;
    color: white;
    padding: 10px;
    font-family: "Alata", sans-serif;
    font-size: 0.8rem;
    font-weight: regular;
  }

  .copyright {
    font-size: 0.55rem;
  }

  .footer_icons {
    width: 10%;
    min-width: 150px;
  }

  @media (min-width: 800px) {
    .footer_icons {
      width: 10%;
      min-width: 350px;
    }

    li {
      list-style: none;
      color: white;
      padding: 10px;
      font-family: "Alata", sans-serif;
      font-size: 1.5rem;
      font-weight: bolder;
    }
  }
</style>
