---
const { image3 } = Astro.props;
---

<img class="sky_up" src={image3} alt="sky op" />
<article class="box">
  <ul>
    <li>THRIFTPLANETCPH@GMAIL.COM <br /> STUDIESTRÆDE 24, KL. TH.1455 KØBENHAVN K</li>
    <li>MAN-LØR 12-18</li>
    <li>KONTAKT & FAQ</li>
    <li>
      <div class="iconer">
        <img class="footer_icons" src="/img/general/icon_tiktok.svg" alt="footer_icons" />
        <img class="footer_icons" src="/img/general/icon_insta.svg" alt="footer_icons" />
        <img class="footer_icons" src="/img/general/icon_fb.svg" alt="footer_icons" />
      </div>
    </li>
    <li class="copyright">© THRIFT PLANET</li>
  </ul>
</article>

<style>
  .iconer {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-inline: 7rem;
  }
  .box {
    display: block;
    background-color: #dac5f2;
    padding: 60px;
  }

  ul {
    text-align: center;
  }
  li {
    list-style: none;
    color: white;
    padding: 10px;
    font-family: "Alata", sans-serif;
    font-size: 0.8rem;
    font-weight: regular;
  }

  .copyright {
    font-size: 0.55rem;
  }

  .footer_icons {
    border-radius: 50%;
    border: 3px solid white;
  }

  .sky_up {
    width: 102.3%;
    margin-bottom: -16px;
    margin-inline: -1rem;
    transform: translateX(-3%);
    margin-left: 3px;
  }

  @media (min-width: 800px) {
    .footer_icons {
      width: 10%;
    }
    .footer_icons:hover {
      border: 3px solid var(--brand-color-purple);
    }
    li {
      list-style: none;
      color: white;
      padding: 10px;
      font-family: "Alata", sans-serif;
      font-size: 1.5rem;
      font-weight: bolder;
    }

    .grid_3_2 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1.5fr;
    }
    .footer_sky {
      grid-column: 1/4;
      grid-row: 1;
      margin-bottom: 0;
    }

    .sky_up {
      width: 105%;
      margin-bottom: -55px;
      transform: translateX(-5%);
      margin-left: 3px;
    }
    .iconer {
      padding-inline: 11rem;
      margin-inline: 5rem;
    }
  }
</style>
