---
---

<button id="burger-menu">
  <span></span>
</button>
<div>
  <img class="menu_bg" src="../img/general/gradient_background_menu.svg" alt="baggrund" />
  <nav id="menu">
    <ul>
      <li><a href="/omos">OM OS</a></li>
      <li class="logo-drop">
        <li><a href="/kontakt">KONTAKT & FAQ</a></li>
        <li class="logo_li">
          <a class="logo_a" href="/"><img class="logo" src="/img/general/Logo_smiley.svg" alt="logo" /></a>
        </li>
        <li><a href="/webshop">WEBSHOP</a></li>
        <li><a href="/#">KURV</a></li>
      </li>
    </ul>
  </nav>
</div>
<script src="../scripts/menu.js"></script>

<style>
  a {
    white-space: nowrap;
  }
  img {
    width: 100%;
  }
  ul li {
    font-family: "Alata";
    font-size: 1.5rem;
    list-style: none;
  }

  li a {
    color: white;
    text-decoration: none;
    border: 4px solid transparent;
    border-radius: 45px;
    padding: 4px 20px;
    text-align: center;
  }
  #menu li {
    margin-bottom: 10px;
  }
  #menu ul {
    display: flex;
    align-items: top;
    gap: 20px 40px;
    margin-top: 1rem;
    margin: 20px;
    justify-content: space-between;
    position: absolute;
    top: 2rem;
    left: 5%;
    width: 80%;
  }
  .logo-drop {
    display: none;
  }
  #menu a:hover {
    border: 4px solid var(--brand-color-green);
    border-radius: 45px;
    padding: 4px 20px;
  }
  #menu .logo_a:hover {
    border: transparent;
    padding: 4px 24px;
    filter: brightness(1.2);
  }

  #burger-menu {
    text-indent: -9999px;
    display: none;
    border: none;
    background: transparent;
    margin: 2rem;
    cursor: pointer;
    height: 27px;
    width: 27px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
  .logo_li {
    width: 50px;
  }
  /* Rest of the CSS */

  @media (max-width: 1180px) {
    ul li {
      font-size: 1rem;
    }
    #menu a:hover {
      border: 4px solid var(--brand-color-green);
      border-radius: 45px;
      padding-block: 4px;
    }
    .logo_li {
      width: 50px;
    }
    li a {
      color: white;
      text-decoration: none;
      border: 4px solid transparent;
      border-radius: 45px;
      padding-block: 4px;
      text-align: center;
    }
  }
  @media screen and (max-width: 800px) {
    .logo {
      position: fixed;
      top: 1.3rem;
      left: 0;
      visibility: visible;
      z-index: 10;
      margin: 1rem;
      padding: 5px;
    }

    div {
      overflow: hidden;
    }
    .logo-drop {
      display: none;
    }
    #burger-menu {
      display: block;
      position: fixed;
      top: 1rem;
    }
    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: white;
      display: block;
      height: 3px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
    }
    #burger-menu span:before {
      left: 0px;
      top: -10px;
      width: 27px;
      position: ;
    }
    #burger-menu span {
      right: 0px;
      top: 13px;
      width: 27px;
    }
    #burger-menu span:after {
      left: 0px;
      top: 10px;
      width: 27px;
    }
    #burger-menu.close span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
      background: white;
    }
    #burger-menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
      background: white;
    }
    #burger-menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
      background: var(--brand-color-purple);
    }
    #menu {
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      height: 0;
      visibility: hidden;
      text-align: center;
      padding-top: 20px;
      transition: all 0.3s ease-in-out;
    }
    #menu.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 100px;
      background: var(--bg);
    }
    .logo {
      width: 15%;
    }
    #menu ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px 40px;
      margin: 20px;
    }
    #menu li {
      list-style: none;
      display: initial;
    }
    #menu a {
      color: white;
      display: block;
      font-size: 20px;
      margin-bottom: 30px;
      text-decoration: none;
    }
    .menu_bg {
      width: 220%;
    }
  }
</style>
