---
const { title, image, page } = Astro.props;
---

<section>
  <a href={page}>
    <img src={image} alt="billede" />
    <div class="text">
      <span><h2>{title}</h2></span>
    </div>
  </a>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    padding-inline: 2rem;
  }

  a {
    text-decoration: none;
  }

  h2 {
    text-align: center;
    font-size: 1.7rem;
  }

  img {
    width: 100%;
    border: 6px solid white;
    border-radius: 50%;
    transition: border-color 0.3s ease;
  }

  .text {
    color: white;
    transform: translate(0, -500%);
    cursor: pointer;
  }

  .text:hover {
    color: var(--brand-color-purple);
  }

  a:hover img {
    border-color: var(--brand-color-purple);
  }

  a:hover .text {
    color: white;
  }

  @media (min-width: 800px) {
    .text {
      transform: translate(0, -550%);
    }

    h2 {
      font-size: 2rem;
    }
  }
</style>
