---
import Category from "./Category.astro";
const { title } = Astro.props;
---

<img class="sky_up" src="./img/general/banner2.svg" alt="banner" />
<div class="container">
  <h2>{title}</h2>
  <div class="categories">
    <Category title="HÅRSPÆNDER" image="./img/general/haarspaender.webp" />
    <Category title="RINGE" image="./img/general/ringe.webp" />
    <Category title="HALSKÆDER" image="./img/general/halsklaeder.webp" />
  </div>
</div>
<img class="sky_down" src="./img/general/bannerdown.svg" alt="banner" />

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
  }
  h2 {
    align-self: center;
    color: white;
    margin-bottom: 2rem;
  }
  .sky_up {
    width: 103%;
    margin-bottom: -2.5rem;
    margin-inline: -1rem;
  }
  .sky_down {
    width: 103.5%;
    left: -2%;
    margin-top: -2.5rem;
    margin-inline: -1rem;
  }
  @media (min-width: 800px) {
    .categories {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }
</style>
