---
const { title, image } = Astro.props;
---

<section>
  <a href="productlist.html">
    <img src={image} alt="billede" />
    <div class="text">
      <span><h2>{title}</h2></span>
    </div>
  </a>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    padding-inline: 2rem;
  }
  a {
    text-decoration: none;
  }
  h2 {
    text-align: center;
    font-size: 2.8rem;
    color: var(--brand-color-purple);
  }
  img {
    width: 100%;
    border: 6px solid white;
    border-radius: 50%;
  }
  .text {
    color: white;
    transform: translate(0, -400%);
    cursor: pointer;
  }
</style>
