---
import Category from "./Category.astro";
const { title } = Astro.props;
---

<section>
  <div class="container">
    <h2>{title}</h2>
    <div class="categories">
      <Category title="HÅRSPÆNDER" image="./img/general/haarspaender.webp" page="./category/haarspaender" />
      <Category title="HALSKÆDER" image="./img/general/halsklaeder.webp" page="./category/halskaeder" />
      <Category title="RINGE" image="./img/general/ringe.webp" page="./category/ringe" />
    </div>
  </div>

  <img class="sky_down" src="./img/general/bannerdown.svg" alt="banner" />
</section>
<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
  }
  h2 {
    align-self: center;
    color: white;
    margin-bottom: 1rem;
  }

  .sky_down {
    width: 104.5%;
    margin-top: -1rem;
    margin-inline: -1rem;
  }
  .categories {
    margin-inline: 3rem;
  }

  @media (min-width: 800px) {
    .categories {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    .sky_down {
      width: 104.5%;
      margin-top: -5rem;
    }
  }
</style>
