---
const { category, name } = Astro.props;
---

<div>
  <ul>
    <li><a href="/webshop">WEBSHOP</a></li><p>/</p>
    <li><a href={`../category/${category}`}>{category}</a></li><p>/</p>
    <li>{name}</li>
  </ul>
</div>
<style>
  ul {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--brand-color-green);
    list-style: none;
    cursor: pointer;
  }
  a:hover {
    color: var(--brand-color-purple);
  }
  p {
    padding-inline: 1rem;
  }
  li {
    text-transform: uppercase;
    text-decoration: none;
  }
  a,
  li {
    text-decoration: none;
    color: var(--brand-color-green);
    font-family: "Alata", sans-serif;
    cursor: pointer;
  }
  div {
    margin-top: 2rem;
  }
</style>
